<%- include('partials/header')%>
<div class="container setfont">
    <a type="submit" href="/p/pastnew" class="btn btn-block  mb-2" 
    style=" font-size: 1.5rem; color: whitesmoke; border: 3px solid #00d7c3;border-radius: 50px;">
    <span class="material-icons  ">add_box</span>Add New Past Event</a>
</div>
<div class="row">
    <div class="col-12 ">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item ">
                      <img class="d-block w-100 bacpic" src="/stimg/img5.jpg" alt="First slide">
                      <!-- <div class="carousel-caption  d-block">
                    <h3 class="custCap">Legal Square Multipurpose Association, Amravati</h3>
                      </div> -->
                </div>
                <div class="carousel-item active">
                      <img class="d-block w-100 bacpic" src="/stimg/img2.jpg" alt="Second slide">
                      <div class="carousel-caption  d-block">
                        <h3 class="custCap">Awards and Felicitation</h3>
                        </div>
                </div>
                <div class="carousel-item">
                      <img class="d-block w-100 bacpic" src="/stimg/img3.jpg" alt="Third slide">
                      <div class="carousel-caption  d-block">
                        <h3 class="custCap">Happy Faces!</h3>
                        </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class=" carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>

    </div>
</div>
<div class="container getknow setfont">
<div class="mt-3" style="color: #66FCF1;">
<h3 style="font-weight: 500;"> Events Statistics of.. </h3>
<h1 style="font-weight: bold;">Successful Events</h1>
</div>
<hr class="fancy-line">
</div>

<section class="service_part pt-0 pb-3">
<div class="container">
    <div class="row justify-content-between align-items-center">
    <div class="col-lg-6 ">
            <div class="service_part_iner">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="single_service_text ">
                            <i class="flaticon-money"></i>
                            <h4>Successful Events</h4>
                            <p class="timer count-title count-number" data-to="10" data-speed="10000"></p>
                            <center><a href="/pastevents" style="font-size: 1.4rem;font-weight: bold;" >Explore Now</a></center>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="single_service_text">
                            <i class="flaticon-money"></i>
                            <h4>Volunteers Joined</h4>
                            <p class="timer count-title count-number" data-to="300" data-speed="10000"> + </p>
                            <center><a href="/event" style="font-size: 1.4rem;font-weight: bold;">Upcoming Events</a></center>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="single_service_text">
                            <i class="flaticon-money"></i>
                            <h4>People Impacted</h4>
                            <p class="timer count-title count-number" data-to="1000" data-speed="10000">100+</p>
                            <!-- <a href="#">Join Family</a> -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="single_service_text">
                            <i class="flaticon-money"></i>
                            <h4>Team Members</h4>
                            <p class="timer count-title count-number" data-to="200" data-speed="10000"> <span>1 (YOU)</span></p>
                            <center><a  href="/join" style="font-size: 1.4rem;font-weight: bold;">join now</a></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-lg-6">
        <img id="hideimg" class="custom-border" src="/stimg/img6.jpg">
    </div>
</div>

<div class=" pb-2 pt-2 m-2">
    <div style="text-align: center; color: chartreuse" class="mt-5">  
        <h2> Successful Events </h2>
        <hr class="fancy-line-3">
    </div>
    <% pastlist.forEach(function(pastlist){ %>
        <%  var getres= new String(pastlist.result).substring(0,50); 
            var getpur= new String(pastlist.purpose).substring(0,50);%> 
    <div class="card newCard mb-5" >
            <div class="card-header  " style="font-size: 1.2rem; text-align: center; background: #db128e"> <%= pastlist.name%>  </div>
            <div class="card-body pt-1 pb-1 pl-1 pr-1">
                <ul class="list-group list-group-flush " >
                    <li class="list-group-item setpd">place: <%=pastlist.place%></li>
                    <li class="list-group-item setpd">Purpose: <%= getpur%>...</li> 
                    <li class="list-group-item setpd">Result: <%= getres%></li>
                </ul>
                    <div class="pt-2 pb-1">
                        <center><a href="/pastevents/<%=pastlist._id%>"><button class="btn-primary">Read More</button></a></center>
                    </div>   
            </div>
        </div>
        <%})%>
    

    <hr class="fancy-line">
</div>
</div>
</section>


<%- include('partials/footer')%>