<%- include('partials/header') %>
<div class="container setfont" > 
    <div style="text-align: center; color: chartreuse" class="">
            <h3 style="text-align: center;"> <%= foundPastEvent.name %> </h2>
            <hr class="fancy-line-3">
    </div>
    <%  var getdate= new Date(foundPastEvent.date).toDateString(); %>
    <div class="card newCard mb-2" >
        <div class="card-header justify-content-between" style="font-size: 1.2rem;">
            <div  style="display:flex; justify-content: space-between;">
                <div><span class="material-icons mr-2" style="font-size:18px;">event</span> <%=getdate%> </div>
                <div><span class="material-icons mr-2" style="font-size:18px;">location_on</span><%=foundPastEvent.place%></div> 
            </div> 
        </div>
        <div class="card-body ">
            <% if(foundPastEvent.photo) { %>  <img class="eventphoto" src="<%=foundPastEvent.photo%>"> 
            <% } else { %><img class="eventphoto" src="/stimg/logoT.jpg"> <% }%>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item setpd text-justify"><h3 style="text-align: center;">Purpose</h2> <%= foundPastEvent.purpose %></li> 
                <li class="list-group-item setpd text-justify"><h3 style="text-align: center;">Format</h2><%= foundPastEvent.format %></li>
                <li class="list-group-item setpd text-justify"><h3 style="text-align: center;">Outcome</h2><%= foundPastEvent.result %></li>
            </ul>
                 
        </div>
    </div>
</div>
<%- include('partials/footer') %>